{"b": "Event", "h": "Other", "i": "Invert", "k": "KKKK", "c": "Fin-Concept", "f": "Person", "e": "Organization", "g": "Sector", "j": "Invert", "a": "Artifical", "d": "Location","l": "Location","m": "Location","n": "Location","o": "Location","p": "Location","q": "Location","r": "Location","s": "Location","t": "Location"}